<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magestat" translate="label" sortOrder="900">
            <label>Magestat</label>
        </tab>
        <section id="magestat_floatingbuybutton" showInDefault="1">
            <tab>magestat</tab>
            <label>General</label>
            <resource>Magestat\FloatingBuyButton::config</resource>
            <group id="general" showInDefault="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="positions" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Position to be Displayed</label>
                    <frontend_class>positions</frontend_class>
                    <source_model>Magestat\FloatingBuyButton\Model\Config\Source\Positions</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
